body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
}
#ZahlenAC {
    width: 100%;
    height: 70vh;
    background-color: rgb(43, 43, 43);
    color: rgb(255, 255, 255);

}
td {
    width: 25%;
    text-align: center;
    background-color: rgb(39, 39, 39);
    font-size: 24px;
}

td:hover {
    background-color: rgb(61, 61, 61);
    cursor: pointer;
} 

#resultA {
    height: 30vh;
    background-color: rgb(29, 29, 29);
    color: rgb(255, 255, 255);
    font-size: 64px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
    box-sizing: border-box;
}

.AC {
    background-color: rgb(126, 126, 126);
}

.AC:hover {
    background-color: rgb(95, 95, 95);
}

.mal {
    background-color: rgb(248, 170, 0);
}

.mal:hover {
    background-color: rgb(218, 149, 0);
}
